 @charset "utf-8";
/* CSS Document */
body {
   background-color: orange;
    background-size: cover;
    font-family: Roboto, sans-serif;
}
    
.logo img{
    
    width: 150 px;
    margin-left: 60 px;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}



h1, h2, h3 {
    margin: 0;
    padding: 25 px
}

h2{ 
    color: black;
    font-size: 20 px;
    margin: -20 px;
}

h3{ 
    color: black;
    font-size: 12 px;
    margin: -20 px;
    text-align: left;
}

h4{
    color: fuchsia;
    font-size: 40 px;
    margin: 0 px;
    text-align: left;
    padding-left: 0 px;
    padding-top: 
}

h5{
    float: left;
    margin-left: 630 px;
    margin-top:5 px;
}

#container {
    width: 100 ;
    background-color: rgb (217, 145, 11);
    height: 900 px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    overflow:visible;
    background-color: black;
    width: 100 %;
    height: 200 px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    padding: 0;
}


.nav {
    width: 100 %;
    background-color: black;
    line-height: 35 px;
    float: left;
}
    


.nav ul {
    float: left;
    list-style: none;
    position: relative;
}

.nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

.nav ul li a {
    display: block;
    font-family: Roboto;
    color: white;
    font-size: 14 px;
    padding: 25 px 25 px;
    text-decoration: none;
}

.nav ul li a:hover {
    display: block;
    background-color: green;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: blue;
    padding: 10 px;
    border-radius: 0 px 0 px 10 px 10 px;
}

.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: white;
    padding: 25 px 25 px;
}

.nav ul li ul li {
    padding: 5 px 10 px;
}

.nav ul li ul li a {
    color: coral;
} 

.nav ul li ul li a:hover {
    color: black;
}

.selected {
  background-color: white;

}

/*.The end of nav classes*/
/*.The start of body classes*/
.slider > div > img {
    flex: 70 %;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    background-color: rgb (204, 51, 102);
    padding: 20 px;
   
}

.slider {
  position: relative;
  display: inline-block;
}

.slider > img {
  display: block;
  width: auto;
  height: auto;
}
/*.The start of button classes*/
.button1 {
  display: inline-block;
  padding: 15 px 5 px;
  font-size: 12 px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:rgb (102, 153, 0);
  border: none;
  border-radius: 15 px;
  box-shadow: 0 9 px #999;
}

.button1:hover {background-color: rgba (102, 153, 0, 0.7)}

.button1:active {
  background-color: #3e8e41;
  box-shadow: 0 5 px #666;
  transform: translateY (4 px);
}

.button2 {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15 px 5 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12 px;
  margin: 4 px 2 px;
  cursor: pointer;
  -webkit-transition-duration: 0.4 s; /* Safari */
  transition-duration: 0.4 s;
}

.button2:hover {
  box-shadow: 0 12 px 16 px 0 rgb (0,0,0,0.24),0 17 px 50 px 0 rgba (0,0,0,0.19);
}
/*.The end of button classes*/
.overlay-text {
  border-radius: 15 px 50 px;
  position:absolute;
  top: 10 %; 
  left: 60 %; 
  transform: translate (-50 %, -50 %); 
  background-color:rgb (102, 153, 0); 
  color: #fff; 
  padding: 10 px 20 px; 
  font-size: 20 px; 
  text-align:center;
}

.flex-container ul {
    float: left;
    list-style: none;
    position: relative;
}

.flex-container ul li {
    float: left;
    list-style: none;
    position: relative;
}

. flex-container ul li a {
    display: block;
    font-family: Roboto;
    color: white;
    font-size: 14 px;
    padding: 25 px 25 px;
    text-decoration: none;
}
.flex-container {
    display: flex;
    background-color: rgb (102, 153, 0);
    justify-content: center;
    clear: both;
}

.flex-container > div {
    background-color: rgb (204, 51, 102);
    color: floralwhite;
    width: 100 % ;
    text-align: center;
    line-height: 300 px;
    margin: 10 px;
}

.flex-container2 {
    display: flex;
    justify-content: left;
    clear: both
}

.flex-container2> div {
    background-color: rgb (217, 145, 11)
    color: black;
    font: italic: Roboto; 
    margin: 10 px;
    text-align: left;
    line-height: 20 px;
    font-size: 16 px;
}

.flex-container3 {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.flex-container3> div {
    width: 200 px;
    color:black;
    margin: 10 px;
    
}
/*.The end of body classes*/
/*.The Start of footer classes*/
.footer {
    background-color: black;
    width: 100 % ;
    height: 100 px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin: 10 px;
    text-align: left;
    line-height: 20 px;
    font-size: 16 px;
}
.footer-flex{
    display: flex;
    background-color: black;
    justify-content:center;
    clear: both;
}


.footer-flex > div {
    color: floralwhite;
    width: 100 %;
    text-align: left;
    line-height: 20 px;
    margin: 10 px;
}

.footer ul {
    float: left;
    list-style: none;
    position: relative;
}

.footer ul li {
    float: left;
    list-style: none;
    position: relative;
}

.footer ul li a {
    display: block;
    font-family: Roboto;
    color: white;
    font-size: 14 px;
    padding: 25 px 25 px;
    text-decoration: none;
}
/*.The end of footer classes*/














